

<% provide(:title, 'Courses') %>
<% if signed_in? %>


</br>

</br>
</br>
</br>
<h1>Learn from the worlds Top Professors</h1>

<%= render 'search' %>
<ul class="users">
  <%= render @users %>

</ul>
<% else %>
  <%= render "shared/home" %>
<% end %>
</br>
</br>
</br>
